#accordion
  margin: 10vh 20%

.panel-heading
  +no-cush
  .panel-title
    +no-cush
    a
      display: flex
      padding: 5px 0 5px 1em
      text-decoration: none
      font-size: 1.25em
      +trans-0
      &:hover
        background: #cfcfcf
        color: #333
        padding-left: 2em

#heading1.panel-heading,
#heading2.panel-heading,
#heading3.panel-heading
  background: #555
  color: #f8f8f8

.panel-body
  background: #e4e0e0

#contact-list
  li
    +menu-style

iframe
  width: 100%

.social-container
  display: grid
  grid-gap: 5px
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto
  .social
    grid-row: 1 span
    //margin: 0 5px
    font-size: 2em
    color: #55d2ff
    text-shadow: .5px .5px 1px #444
    +trans-0
    &:hover
      transform: scale(1.1)
      box-shadow: 1px 1px 5px #444
      border: thin solid #333

.contact-container
  //width: 300px
  margin: 0 25% 20px
  a
    display: flex
    padding: 1em !important
    font-size: 1.125em
    font-weight: 500
    justify-content: center
    border-radius: 8px
    color: #e7e7e7
    background: #444
    border: thin solid #e8e8e8
    text-shadow: .5px .5px 1px $clr-alternate
    +trans-0
    &:hover
      color: #333
      background-color: #cfcfcf
      border: thin solid #333
