#accordion
  margin: 10vh 0
  border: 1px solid #666

#heading1.panel-heading,
#heading2.panel-heading,
#heading3.panel-heading
  background: #555
  color: #f8f8f8

.social
  margin: 0 5px
  font-size: 40px
  color: #55d2ff
  text-shadow: .5px .5px 1px #444

.contact-container
  width: 100%
  margin: 0 auto 20px
  padding: .5vh !important
  background: #999
  a
    display: flex
    font-size: 1.125em
    font-weight: 500
    justify-content: center
    color: #e7e7e7
    background: #444
    text-shadow: .5px .5px 1px #2e3af0
