/*---------- FONTS/TEXT ---------- */
/*---------- COLORS ---------- */
/*---------- BG IMAGE ---------- */
/*---------- MARGIN/PADDING ---------- */
/*---------- CONTAINER ---------- */
/*---------- TRANSITIONS ---------- */
/* line 1, ../sass/parts/_base.sass */
body {
  background: #555 !important;
}

/* line 4, ../sass/parts/_base.sass */
h1 {
  padding-bottom: 1em !important;
}

/* line 8, ../sass/parts/_base.sass */
a:hover {
  text-decoration: none !important;
}

/* line 12, ../sass/parts/_base.sass */
footer p {
  text-align: center;
  text-shadow: 0.5px 0.5px 1px #f9f9f9;
}

/* line 1, ../sass/parts/_intro.sass */
.intro-pic {
  width: 80%;
  height: auto;
  margin: 2vh auto;
}
/* line 5, ../sass/parts/_intro.sass */
.intro-pic img {
  width: 100%;
  border-radius: 10px;
  transition: 1s ease 0.05s;
}
/* line 9, ../sass/parts/_intro.sass */
.intro-pic img:hover {
  box-shadow: 2px 2px 4px #fff;
  transform: scale(1.1);
  transform-origin: top;
}

/* line 15, ../sass/parts/_intro.sass */
.scroll-btn {
  margin: 2vh auto;
}
/* line 17, ../sass/parts/_intro.sass */
.scroll-btn:hover {
  background: #444 !important;
  color: #f3f3f3 !important;
}

/* line 1, ../sass/parts/_about.sass */
ul.page-links {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 0 !important;
}
@media (min-width: 520px) {
  /* line 1, ../sass/parts/_about.sass */
  ul.page-links {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 769px) {
  /* line 1, ../sass/parts/_about.sass */
  ul.page-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* line 11, ../sass/parts/_about.sass */
ul.page-links li {
  grid-column: span 1;
  display: flex;
  list-style-type: none;
}
/* line 15, ../sass/parts/_about.sass */
ul.page-links li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #f3f3f3 !important;
  background: #333;
  border-radius: 10px;
  line-height: 2.5em;
}
/* line 23, ../sass/parts/_about.sass */
ul.page-links li a:hover {
  font-weight: 600;
  color: #333 !important;
  background: #777;
  text-decoration: none;
}

/* line 29, ../sass/parts/_about.sass */
.car-1 {
  width: 30%;
  margin: 30px auto !important;
}

/* line 1, ../sass/parts/_services.sass */
.card-1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 3, ../sass/parts/_services.sass */
.card-1 img {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}

/* line 1, ../sass/parts/_contact.sass */
#accordion {
  margin: 10vh 0;
  border: 1px solid #666;
}

/* line 5, ../sass/parts/_contact.sass */
#heading1.panel-heading,
#heading2.panel-heading,
#heading3.panel-heading {
  background: #555;
  color: #f8f8f8;
}

/* line 11, ../sass/parts/_contact.sass */
.social {
  margin: 0 5px;
  font-size: 40px;
  color: #55d2ff;
  text-shadow: 0.5px 0.5px 1px #444;
}

/* line 17, ../sass/parts/_contact.sass */
.contact-container {
  width: 100%;
  margin: 0 auto 20px;
  padding: 0.5vh !important;
  background: #999;
}
/* line 22, ../sass/parts/_contact.sass */
.contact-container a {
  display: flex;
  font-size: 1.125em;
  font-weight: 500;
  justify-content: center;
  color: #e7e7e7;
  background: #444;
  text-shadow: 0.5px 0.5px 1px #2e3af0;
}
