/*---------- FONTS/TEXT ---------- */
/*---------- COLORS ---------- */
/*---------- BG IMAGE ---------- */
/*---------- MARGIN/PADDING ---------- */
/*---------- CONTAINER ---------- */
/*---------- TRANSITIONS ---------- */
/* line 1, ../sass/parts/_base.sass */
* {
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* line 5, ../sass/parts/_base.sass */
body {
  background: #555 !important;
}

/* line 8, ../sass/parts/_base.sass */
h1 {
  padding-bottom: 1em !important;
}

/* line 12, ../sass/parts/_base.sass */
a:hover {
  text-decoration: none !important;
}

/* line 16, ../sass/parts/_base.sass */
footer p {
  text-align: center;
  text-shadow: 0.5px 0.5px 1px #f9f9f9;
}

/* line 1, ../sass/parts/_intro.sass */
.intro-pic {
  width: 80%;
  height: auto;
  margin: 2vh auto;
}
/* line 5, ../sass/parts/_intro.sass */
.intro-pic img {
  width: 100%;
  border-radius: 10px;
  transition: 0.8s ease 0.05s;
}
/* line 9, ../sass/parts/_intro.sass */
.intro-pic img:hover {
  box-shadow: 2px 2px 4px #fff;
  transform: scale(1.1);
  transform-origin: center;
}

/* line 14, ../sass/parts/_intro.sass */
.scroll-btn {
  margin: 2vh auto;
  transition: 0.3s ease 0.05s;
}
/* line 17, ../sass/parts/_intro.sass */
.scroll-btn:hover {
  background: #444 !important;
  color: #f3f3f3 !important;
  transform: scale(0.9);
  transform-origin: center;
}

/* line 1, ../sass/parts/_about.sass */
.page-links {
  background-image: url(../img/car-1.png);
  background-size: cover;
  background-position: center center;
  filter: grayscale(90%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 5em 1em !important;
}
/* line 11, ../sass/parts/_about.sass */
.page-links li {
  width: 100%;
  grid-column: 1 span;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/* line 16, ../sass/parts/_about.sass */
.page-links li a {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #f3f3f3 !important;
  background: #333;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  line-height: 2.5em;
  font-weight: 600;
  transition: 0.3s ease 0.05s;
}
/* line 30, ../sass/parts/_about.sass */
.page-links li a:hover {
  color: #333 !important;
  background: #e8e8e8;
  text-decoration: none;
  border: 1px solid #333;
}
@media (min-width: 520px) {
  /* line 1, ../sass/parts/_about.sass */
  .page-links {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 769px) {
  /* line 1, ../sass/parts/_about.sass */
  .page-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* line 40, ../sass/parts/_about.sass */
.car-1 {
  margin: 3em 30%;
  transition: 1.2s ease 0.05s;
}
/* line 44, ../sass/parts/_about.sass */
.car-1:hover {
  margin: 3em 15%;
}

/* line 1, ../sass/parts/_services.sass */
#services {
  background-image: url(../img/carbon-fiber.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 10px;
  padding: 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
/* line 12, ../sass/parts/_services.sass */
#services h1 {
  grid-column: 4 span;
  padding-top: 2em;
  color: #fff;
}
/* line 16, ../sass/parts/_services.sass */
#services .card-1 {
  grid-column: 4 span;
  height: auto;
  padding: 10px;
}
/* line 20, ../sass/parts/_services.sass */
#services .card-1 img {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  box-shadow: 1px 1px 4px #e3e3e3;
  border-radius: 20px;
}
@media (min-width: 769px) {
  /* line 20, ../sass/parts/_services.sass */
  #services .card-1 img {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  /* line 20, ../sass/parts/_services.sass */
  #services .card-1 img {
    width: 40%;
  }
}
/* line 30, ../sass/parts/_services.sass */
#services p {
  grid-column: 2 span;
  padding: 5px;
  color: #333;
  background: #e8e8e8;
  border: thin solid #333;
  box-shadow: 1px 1px 4px #e3e3e3;
  transition: 0.3s ease 0.05s;
}
/* line 38, ../sass/parts/_services.sass */
#services p:hover {
  background: #333;
  color: #e8e8e8;
}
@media (max-width: 768px) {
  /* line 30, ../sass/parts/_services.sass */
  #services p {
    grid-column: 4 span;
  }
}

/* line 1, ../sass/parts/_contact.sass */
#accordion {
  margin: 10vh 20%;
}

/* line 4, ../sass/parts/_contact.sass */
.panel-heading {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* line 6, ../sass/parts/_contact.sass */
.panel-heading .panel-title {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* line 8, ../sass/parts/_contact.sass */
.panel-heading .panel-title a {
  display: flex;
  padding: 5px 0 5px 1em;
  text-decoration: none;
  font-size: 1.25em;
  transition: 0.3s ease 0.05s;
}
/* line 14, ../sass/parts/_contact.sass */
.panel-heading .panel-title a:hover {
  background: #cfcfcf;
  color: #333;
  padding-left: 2em;
}

/* line 19, ../sass/parts/_contact.sass */
#heading1.panel-heading,
#heading2.panel-heading,
#heading3.panel-heading {
  background: #555;
  color: #f8f8f8;
}

/* line 25, ../sass/parts/_contact.sass */
.panel-body {
  background: #e4e0e0;
}

/* line 29, ../sass/parts/_contact.sass */
#contact-list li {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* line 32, ../sass/parts/_contact.sass */
iframe {
  width: 100%;
}

/* line 35, ../sass/parts/_contact.sass */
.social-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
/* line 40, ../sass/parts/_contact.sass */
.social-container .social {
  grid-row: 1 span;
  font-size: 2em;
  color: #55d2ff;
  text-shadow: 0.5px 0.5px 1px #444;
  transition: 0.3s ease 0.05s;
}
/* line 47, ../sass/parts/_contact.sass */
.social-container .social:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 5px #444;
  border: thin solid #333;
}

/* line 52, ../sass/parts/_contact.sass */
.contact-container {
  margin: 0 25% 20px;
}
/* line 55, ../sass/parts/_contact.sass */
.contact-container a {
  display: flex;
  padding: 1em !important;
  font-size: 1.125em;
  font-weight: 500;
  justify-content: center;
  border-radius: 8px;
  color: #e7e7e7;
  background: #444;
  border: thin solid #e8e8e8;
  text-shadow: 0.5px 0.5px 1px #6c6b6a;
  transition: 0.3s ease 0.05s;
}
/* line 67, ../sass/parts/_contact.sass */
.contact-container a:hover {
  color: #333;
  background-color: #cfcfcf;
  border: thin solid #333;
}
